[ng-cloak], .ng-cloak
	display: none !important
	
body
	background-color: white
	font: 12px Helvetica, Arial, sans-serif

input[type=checkbox]
	margin: 0
	padding: 0
a
	color: blue
	&:hover
		text-decoration: underline
		cursor: pointer

.pd
	padding-top: 2em
.pd-1
	padding: 1em

.hacker
	border: 1px solid #ccc
	margin-bottom: 5px
	position: relative
	padding: 10px
	min-height: 100px
	.match
		position: absolute
		top: 0
		right: 0
		padding: 5px
		font-size: 2em
	.idea
		padding: 5px
		background-color: #eee
.v
	> *
		display: inline-block
		vertical-align: middle
		margin-right: 5px
		&:last-child
			margin-right: 0

#your_info
	display: inline-block
	.lt, .rt
		float: left
	.lt
		width: 100px
	.rt
		width: 700px
		h2
			margin-top: 0


#messages
	max-height: 300px
	padding: 3px
	background-color: #ccc
	overflow-y: scroll
	overflow-x: hidden

.map-canvas
	display: block
	width: 150px
	height: 150px
	position: absolute
	bottom: 10px
	right: 10px

.hacker-enter-setup, .hacker-leave-setup
	-webkit-transition:all ease-in-out 0.3s
	-moz-transition:all ease-in-out 0.3s
	-ms-transition:all ease-in-out 0.3s
	-o-transition:all ease-in-out 0.3s
	transition:all ease-in-out 0.3s

.hacker-enter-setup
	line-height: 0
	opacity: 0

.hacker-enter-setup.hacker-enter-start
	line-height: 20px
	opacity: 1

.hacker-leave-setup
	opacity: 1
	line-height: 20px

.hacker-leave-setup.hacker-leave-start
	opacity: 0
	line-height: 0

.select_container
	position: relative
	> span
		font-weight: bold
	&:hover
		.select_inner
			opacity: 1
			display: block
	.select_inner
		-webkit-transition:all ease-in-out 0.3s
		-moz-transition:all ease-in-out 0.3s
		-ms-transition:all ease-in-out 0.3s
		-o-transition:all ease-in-out 0.3s
		transition:all ease-in-out 0.3s
		display: none
		opacity: 0
		position: absolute
		top: 20px
		left: -5px
		z-index: 2
		background-color: white
		
		box-shadow: 0 0 3px 0 #ccc
		width: 200px
		li
			padding: 3px
			cursor: pointer
			&.sel
				background-color: #88f
				color: white
#sortby_selection
	a
		&.sel
			background-color: #ddd