body
	background-color: white
	font: 12px Helvetica, Arial, sans-serif

.hacker
	border: 1px solid #ccc
	margin-bottom: 5px
	position: relative
	padding: 10px
	.match
		position: absolute
		top: 0
		right: 0
		padding: 5px
		font-size: 2em
.v
	> *
		display: inline-block
		vertical-align: middle
		margin-right: 5px
		&:last-child
			margin-right: 0