body
	background-color: white
	font: 12px Helvetica, Arial, sans-serif

a
	color: blue
	&:hover
		text-decoration: underline
		cursor: pointer

.pd-1
	padding: 1em

.hacker
	border: 1px solid #ccc
	margin-bottom: 5px
	position: relative
	padding: 10px
	.match
		position: absolute
		top: 0
		right: 0
		padding: 5px
		font-size: 2em
	.idea
		padding: 5px
		background-color: #eee
.v
	> *
		display: inline-block
		vertical-align: middle
		margin-right: 5px
		&:last-child
			margin-right: 0

#messages
	max-height: 500px
	padding: 3px
	background-color: #ccc
	overflow-y: scroll
	overflow-x: hidden