extends layout

block extra_header
	script(type='text/javascript').
		window.session_data = !{JSON.stringify(user_session)};
block content
	.container
		.row
			.col-xs-12(ng-controller="loginCtrl", ng-cloak=true)
		.row(ng-controller="findHackerCtrl", ng-cloak=true)
			#set_profile(ng-hide="isComplete")
				h2 Complete your profile!
				#set_profile_inner
					#set_profile_role
						h3 Select your roles
						.inner.v
							.select_role(ng-repeat="r in rolelist")
								input(type='checkbox', ng-model='new_user_profile.roles[r.name]')
								span &nbsp;{{r.name}}
					#set_looking_for_roles
						h3 Select which roles you are looking for
						.inner.v
							.select_role(ng-repeat="r in rolelist")
								input(type='checkbox', ng-model='new_user_profile.seeking_roles[r.name]')
								span &nbsp;{{r.name}}
					#set_profile_skills
						h3 Select the technologies or skills you have
						.inner.v
							.select_technologies(ng-repeat="s in skillslist")
								input(type='checkbox', ng-model="new_user_profile.skills[s.name]")
								span &nbsp;{{s.name}}
					#set_looking_for_skills
						h3 Select which skills you are looking for
						.inner.v
							.select_technologies(ng-repeat="s in skillslist")
								input(type='checkbox', ng-model="new_user_profile.seeking_skills[s.name]")
								span &nbsp;{{s.name}}
					#set_profile_industry
						h3 Select industries you are interested in
						.inner.v
							.select_industry(ng-repeat="i in interestlist")
								input(type='checkbox',ng-model="new_user_profile.industries[i.name]")
								span &nbsp;{{i.name}}
					.pd
						a.btn.large.btn-lg.btn-primary(ng-click="submit_profile()") Submit Profile

			.col-xs-12(ng-show="isComplete")
				#search.1-box
					.v
						label name
						input(ng-model="search.name")
					.v
						label idea
						input(ng-model="search.idea")
					.v
						.v
							.v(ng-repeat="rl in rolelist")
								label {{rl.name}}
								input(type="checkbox" ng-model="rl.checked")
							a(ng-click="setAllRole(true)") select all
							a(ng-click="setAllRole(false)") deselect all
					.v
						.v
							.v(ng-repeat="i in interestlist")
								label {{i.name}}
								input(type='checkbox' ng-model="i.checked")
							a(ng-click="setAllInterest(true)") select all
							a(ng-click="setAllInterest(false)") deselect all
			
				h1.
					List of users
			.col-xs-9(ng-show="isComplete")
				#hackers(ng-if="hackers.length")
					.hacker(ng-repeat="hacker in hackers | filterByRole:rolelist | filterByInterest:interestlist | filter:search | orderBy:['-match'] | limitTo: 20", ng-animate="'hacker'")
						h2 {{hacker.name}}
						.skills.vv(ng-repeat="role in hacker.roles")
							h3.skill
								| {{role}}&nbsp;
								span.skillsets(ng-show='hacker.skillsets[role].length') ({{hacker.skillsets[role].join(', ')}})
						.looking_fors.vv
							h4
								| Looking for: &nbsp;
								span.looking_for(ng-show='hacker.looking_for.length') {{hacker.looking_for.join(', ')}}
						.interests.vv
							h4
								| Interested in: &nbsp;
								span.interests(ng-show='hacker.interests.length') {{hacker.interests.join(', ')}}
						div(ui-map="hacker.googlemap" ui-event="{'map-idle' : 'hacker.onMapIdle()'}" ui-options="hacker.mapOptions" class="map-canvas" ng-if='hacker.location')
						div(ng-if='hacker.location' ui-map-marker="hacker.marker")
						.idea {{hacker.idea}}
						.match {{hacker.match}}%
				#no_hackers(ng-if="!hackers.length")
					| No hackers found!
			.col-xs-3(ng-controller="messageCtrl", ng-show="isComplete")
				#messages
					.msg.v(ng-repeat="msg in messages track by $index")
						em {{msg.from}}:
						p {{msg.msg}}
				input(type='text', ng-model='msg', ng-keydown='addMessage($event)' placeholder='Say something here!')