extends layout

block extra_header
	script(type='text/javascript').
		window.session_data = !{JSON.stringify(user_session)};
block content
	.container(ng-controller="findHackerCtrl", ng-cloak=true)
		.row(ng-hide="session_data")
			.col-xs-12(ng-cloak=true)
				.jumbotron
					h1 Hacker Trackr
					p Lorem ipsum
					p.art
						a.btn.btn-lg.btn-danger(href="/eventbrite/auth") Login with EventBrite
		.row(ng-show="session_data")
			#set_profile(ng-hide="isComplete")
				h2 Complete your profile!
				#set_profile_inner
					#set_profile_role
						h3 Select your roles
						.inner.v
							.select_role(ng-repeat="r in rolelist")
								input(type='checkbox', ng-model='new_user_profile.roles[r.name]')
								span &nbsp;{{r.name}}
					#set_looking_for_roles
						h3 Select which roles you are looking for
						.inner.v
							.select_role(ng-repeat="r in rolelist")
								input(type='checkbox', ng-model='new_user_profile.seeking_roles[r.name]')
								span &nbsp;{{r.name}}
					#set_profile_skills
						h3 Select the technologies or skills you have
						.inner.v
							.select_technologies(ng-repeat="s in skillslist")
								input(type='checkbox', ng-model="new_user_profile.skills[s.name]")
								span &nbsp;{{s.name}}
					#set_looking_for_skills
						h3 Select which skills you are looking for
						.inner.v
							.select_technologies(ng-repeat="s in skillslist")
								input(type='checkbox', ng-model="new_user_profile.seeking_skills[s.name]")
								span &nbsp;{{s.name}}
					#set_profile_industry
						h3 Select industries you are interested in
						.inner.v
							.select_industry(ng-repeat="i in interestlist")
								input(type='checkbox',ng-model="new_user_profile.industries[i.name]")
								span &nbsp;{{i.name}}
					#set_profile_idea
						h3 What is an idea or a current project you are working on?
						.inner.v
							textarea(style="width:400px;height:150px",ng-model="new_user_idea", placeholder="Type your idea here")
					.pd
						a.btn.large.btn-lg.btn-primary(ng-click="submit_profile()") Submit Profile

			.col-xs-12(ng-show="isComplete")
				#your_info(ng-show="you")
					.lt(ng-show="you.pictureUrl")
						img(ng-src="{{you.pictureUrl}}")
					.rt
						h2 
							| {{you.name}} 
							span.v
								label.label.label-success(ng-repeat="role in you.roles")
									| {{role}}
						h3 
							| Looking for 
							span.v
								label.label.label-danger(ng-repeat="sr in you.seeking_roles")
									| {{sr}}
						h4
							| Skills&nbsp;
							span.v
								label.label.label-info(ng-repeat="s in you.skills")
									| {{s}}
						h4
							| Looking for skills: &nbsp;
							span.v
								label.label.label-warning(ng-repeat="ss in you.seeking_skills")
									| {{ss}}
						h4 interested in {{you.industries.join(', ')}}		
						p {{you.ideas[0]}}
				#search.1-box
					.v
						input.form_control(ng-model="search.idea",placeholder="Search by idea")
					#filter_row
						.v
							span.em Filter by Roles:
							.select_container 
								span &nbsp;{{displayChecked(rolelist)}}
								ul.select_inner.list-unstyled
									li(ng-repeat="rl in rolelist", ng-class="{sel: rl.checked}")
										input(id="check_{{rl.name|space2under}}" type="checkbox" ng-model="rl.checked")
										label(for="check_{{rl.name|space2under}}") &nbsp;{{rl.name}}
									li
										a(ng-click="setAll('rolelist',true)") select all
									li
										a(ng-click="setAll('rolelist',false)") deselect all
						.v
							span.em Filter by Skills:
							.select_container
								span &nbsp;{{displayChecked(skillslist)}}
								ul.select_inner.list-unstyled
									li(ng-repeat="s in skillslist", ng-class="{sel: s.checked}")
										input(id="check_{{s.name|space2under}}" type='checkbox' ng-model="s.checked")
										label(for="check_{{s.name|space2under}}") &nbsp;{{s.name}}
									li
										a(ng-click="setAll('skillslist',true)") select all
									li
										a(ng-click="setAll('skillslist',false)") deselect all
						.v
							span.em Filter by Industries:
							.select_container
								span &nbsp;{{displayChecked(interestlist)}}
								ul.select_inner.list-unstyled
									li(ng-repeat="i in interestlist", ng-class="{sel: i.checked}")
										input(id="check_{{i.name|space2under}}" type='checkbox' ng-model="i.checked")
										label(for="check_{{i.name|space2under}}") &nbsp;{{i.name}}
									li
										a(ng-click="setAll('interestlist',true)") select all
									li
										a(ng-click="setAll('interestlist',false)") deselect all
					.v
						.v
							#sortby_selection.v
								label Sort by: 
								select(ng-model="orderToken", ng-change="updateOrderType()")
									option(value="you_want_them") Best candidates
									option(value="they_want_you") Most desired by
									option(value="match_score") Best match

			.col-xs-9(ng-show="isComplete && hackers_loaded")
				h3.art
					{{(hackers | filterByRole:rolelist | filterByInterest:interestlist | filterBySkills:skillslist | filter:search).length}} hackers found
				#hackers(ng-if="hackers.length")
					.hacker(ng-repeat="hacker in hackers | filterByRole:rolelist | filterByInterest:interestlist | filterBySkills:skillslist | filter:search | orderBy:[orderType] | limitTo: 20", ng-animate="'hacker'")
						h2
							| {{hacker.name}}&nbsp;
							span.smaller.v
								label.label.label-success(ng-repeat="role in hacker.roles")
									| {{role}}
						.looking_fors.vv
							h3
								| Looking for: &nbsp;
								span.v
									label.label.label-danger(ng-show='hacker.seeking_roles.length', ng-repeat="sr in hacker.seeking_roles") 
										| {{sr}}
						.skills.v
							h4
								| Skill: &nbsp;
								span.v
									label.label.label-info.skill(ng-show='hacker.skills.length', ng-repeat="s in hacker.skills") 
										| {{s}}
						.interests.vv
							h4
								| Seeking skills: &nbsp;
								span.v
									label.label.label-warning(ng-show='hacker.seeking_skills.length', ng-repeat="ss in hacker.seeking_skills") 
										| {{ss}}
						//div(ui-map="hacker.googlemap" ui-event="{'map-idle' : 'hacker.onMapIdle()'}" ui-options="hacker.mapOptions" class="map-canvas" ng-if='hacker.location')
						//div(ng-if='hacker.location' ui-map-marker="hacker.marker")
						.events
							.event(ng-repeat="e in hacker.events")
								| {{e.title}}
						.idea {{hacker.ideas[0]}}
						.match
							.match_score 
								span.smaller Best Match 
								| {{hacker.scores.match_score | number:1}}%
							.you_want_them 
								span.smaller You benefit them 
								| {{hacker.scores.you_want_them | number:1}}%
							.they_want_you 
								span.smaller They benefit you 
								| {{hacker.scores.they_want_you | number:1}}%
							
				#no_hackers(ng-if="!hackers.length")
					| No hackers found!
			.col-xs-3(ng-controller="messageCtrl", ng-show="false && isComplete")
				#messages
					.msg.v(ng-repeat="msg in messages track by $index")
						em {{msg.from}}:
						span {{msg.msg}}
				input(type='text', ng-model='msg', ng-keydown='addMessage($event)' placeholder='Say something here!')