doctype 5
html(ng-app='hackerApp')
  head
    title Hacker Match
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/angular/angular.js')
    script(type='text/javascript', src='/javascripts/angular/ui-router.js')
    script(type='text/javascript', src='/javascripts/app.js')
  body
    block content