body {
<<<<<<< HEAD
  background-color: #fff;
  font: 12px Helvetica, Arial, sans-serif;
}
a {
  color: #00f;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.pd-1 {
  padding: 1em;
}
.hacker {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  position: relative;
  padding: 10px;
}
.hacker .match {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 2em;
}
.hacker .idea {
  padding: 5px;
  background-color: #eee;
}
.v > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.v > *:last-child {
  margin-right: 0;
}
=======
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
>>>>>>> init
